html
{
    font-family: arial,sans-serif;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 13px;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 17px 13px;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}
.container
{
margin-left: 43%;
margin-top: 142px;
display: block;
}
.searchbar
{
  margin-left: 35%;
  display: block;
  margin-top:25px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 47%;
  background: white;
  border-radius: 20px;
  border-color: #d9d9d9;
}
form.example input[type=text]:hover
{
 height: 120%;
}
.b1
{
  display: inline-block;
  margin-left: 43%;
  border-style: solid;
  margin-top: 30px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  background-color: #f2f2f2;
  font-size: 14px;
  color:#5F6368;
  border-color: #f2f2f2;
  border: 1px ;
  text-align: center;
  padding-top: 8px;
  border-radius: 4px;
}
.b2
{
  display: inline-block;
  margin-left: 1%;
  border-style: solid;
  margin-top: 30px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  background-color: #f2f2f2;
  font-size: 14px;
  color:#5F6368;
  border-color: #f2f2f2;
  border: 1px ;
  text-align: center;
  padding-top: 8px;
  border-radius: 4px;
}
.lang ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 13px;
  display: inline-block;
}

.lang li {
  float: left;
}

.lang li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 17px 13px;
  text-decoration: none;
}

.lang li a:hover {
  text-decoration: underline;
}
.lang li a:visited
{
  color: blue;
}
.lang
{
  margin-left: 35%;
  line-height: 28px;
}
.spec
{
  display: block;
  color: black;
  text-align: center;
  padding: 17px 13px;
  text-decoration: none;
}
#Sgn
{
  background-color: #4387fd;
  border:1px;
  border-radius: 2px;
  height: 40px;
  width: 75px;
  padding: 0px;
}
#Sgn a
{
  color: #fff;
}
.foot-container {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    width: 100%;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #ebebeb;
    bottom: 0;
    position: fixed;
}

.foot-container a {
    color: rgba(0, 0, 0, .54);
}
.footer-first,
.bottom-footer {
    padding-left: 27px;
    border-top: 1px solid #ebebeb;
}

.bottom-ft-right {
    margin-right: 27px;
    float: right;
}

.bottom-text {
    margin-left: 8px;
}
.bottom-ft-right:a
{
  text-decoration-style: : none;
}
